.list {
    font-size: 20px;
    width: 95%;
    margin: auto;
    
}
.list img{
    height: 100px;
}
.list .total{
    color: red;
}
.list select{
    font-size: 10px;
}
.list button{
    font-size: 10px;
}