<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/RD5_Assignment/views/img/logo.png">

	<title>網銀</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/RD5_Assignment/views/css/starter-template.css" rel="stylesheet">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</head>
<style>
	.list li {
		margin: 20px;
	}
</style>
<script src="/RD5_Assignment/views/js/viewModels/showViewModel.js"></script>
<script>
	// $(window).ready(() => {
	// 	$("#mainShow").html(showIndex());
	// 	$("#mainShow").empty();
	// });
</script>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/RD5_Assignment/views/pageFront/index_.html">網銀</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<div class="btn nav-link deposit">存款</div>
				</li>
				<li class="nav-item active">
					<div class="btn nav-link withdrawal">提款</div>
				</li>
				<li class="nav-item active">
					<div class="btn nav-link showDetail">查詢明細</div>
				</li>

			</ul>
			<ul class="navbar-nav my-2 my-lg-0">
				<li class="nav-item active">
					<div class="nav-link showUserName" id="showUserName">userName</div>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#" id="aLogin">登入</a>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" class="container">


		<div class="row">
			<div class="col-1"></div>
			<div class="col" id="mainShow">
				<h1>您好！ ${name}</h1>
				<p>目前餘額：${balance}</p>
				<div>
					<ul class="navbar-nav mr-auto list">
						<li class="nav-item active">
							<button type="button" class="btn btn-primary btn-lg btn-block">存款</button>
						</li>
						<li class="nav-item active">
							<button type="button" class="btn btn-primary btn-lg btn-block">提款</button>
						</li>
						<li class="nav-item active">
							<button type="button" class="btn btn-primary btn-lg btn-block">查詢明細</button>
						</li>
					</ul>
				</div>
				<div id="featuresShow">
					<div class="month">
						<div>月</div>
						<div class="row day">
							<div class="col">日</div>
							<div class="col">存</div>
							<div class="col">提</div>
							<div class="col">當下</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-1"></div>
		</div>

		
	</main><!-- /.container -->

</body>

</html>