<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/RD5_Assignment/views/img/logo.png">

	<title>網銀</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="/RD5_Assignment/views/css/starter-template.css" rel="stylesheet">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

	<!-- ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script>
	//防止重新導入這，倒入這就直接回首頁
	$("body").css("display", "none");
	$.ajax({
		type: "GET",
		url: "/RD5_Assignment/member/getSessionUserName"
	}).then(function (e) {
		if (e) {
			window.location.href = "/RD5_Assignment/views/pageFront/index_.html";
		} else {
			$("body").css("display", "inline");
		}
	});
</script>
<script type="module">
	import { Member } from "../js/models/member.js";

	$(window).ready(() => {

		$("#userPassword_").change(() => {
			if ($("#userPassword").val() != $("#userPassword_").val()) {
				$("#passwordCheckMessage").text("密碼不一致！");
			} else {
				$("#passwordCheckMessage").empty();
			}
		});

		$("#userPassword").change(() => {
			if (!($("#userPassword").val()).match(/\w{6,30}/)) {
				$("#passwordCheckMessage").text("密碼格式錯誤！");
			} else {
				$("#passwordCheckMessage").empty();
			}
		});

		$("#userID").change(() => {
			$.ajax({
				type: "GET",
				url: `/RD5_Assignment/member/checkMemberExist?id=${$("#userID").val()}`
			}).then(function (e) {
				if (e) {
					$("#idCheckMessage").text("此帳號有人使用");
				} else {
					$("#idCheckMessage").empty();
				}
				if (!($("#userID").val()).match(/\w{6,30}/)) {
					$("#idCheckMessage").text("帳號格式錯誤");
				}
			});
		});

		$("#btnSub").click(() => {
			let gmtStrIndex = (new Date()).toString().indexOf("GMT");
			let timeZone = (new Date()).toString()
				.substring(gmtStrIndex + 3, gmtStrIndex + 8).replace(/00/, ":00");
			let member = new Member(
				$("#userID").val(),
				$("#userName").val(),
				$("#userEmail").val(),
				$("#userPhone").val(),
				true,
				"",
				"",
				timeZone,
				$("#userPassword").val());
			if ((member.userPassword != $("#userPassword_").val()) || !member.userPassword.match(/\w{6,30}/)) {
				alert("密碼格式錯誤！");
				return;
			}
			if (member.userName.length <= 0) {
				alert("名字空白！");
				return;
			}
			let emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
			if (!member.userEmail.match(emailRule)) {
				alert("Email格式錯誤");
				return;
			}
			if (!member.userPhone.match(/\d{10}/)) {
				alert("電話格式錯誤");
				return;
			}
			if (!member.userID.match(/\w{6,30}/)) {
				alert("帳號格式錯誤");
				return;
			}
			let subData = {
				member: JSON.stringify(member)
			}
			$.ajax({
				type: "POST",
				url: "/RD5_Assignment/member/insertByObj",
				data: subData
			}).then(function (e) {
				if (e) {
					alert("註冊成功，請登入");
					window.location.href = "/RD5_Assignment/views/pageFront/login.html";
				} else {
					alert("註冊失敗");
				}
			});

		});
	});
</script>

<body>

	<main role="main" class="container">
		<div class="card bg-light">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h4 class="card-title mt-3 text-center">註冊</h4>

				<form>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input id="userName" class="form-control" placeholder="請輸入姓名" type="text">
					</div> <!-- form-group// -->

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						</div>
						<input id="userEmail" class="form-control" placeholder="請輸入Email" type="email">
					</div> <!-- form-group// -->

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
						</div>
						<input id="userPhone" class="form-control" placeholder="請輸入手機號碼" type="text">
					</div> <!-- form-group// -->

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input id="userID" class="form-control" placeholder="請輸入帳號" type="text">
					</div> <!-- form-group// -->
					<p class="form-group" id="idCheckMessage"></p>

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input id="userPassword" class="form-control" placeholder="請輸入密碼" type="password">
					</div> <!-- form-group// -->

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input id="userPassword_" class="form-control" placeholder="請在輸入一次密碼" type="password">
					</div> <!-- form-group// -->
					<p class="form-group" id="passwordCheckMessage"></p>

					<div class="form-group">
						<button type="button" id="btnSub" class="btn btn-primary btn-block"> Create Account
						</button>
					</div> <!-- form-group// -->

					<p class="text-center">Have an account? <a href="/RD5_Assignment/views/pageFront/login.html">Log
							In</a> </p>
				</form>
			</article>
		</div> <!-- card.// -->

	</main><!-- /.container -->

</body>

</html>