<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/PID_Assignment/views/img/logo.png">
	<link rel="stylesheet" type="text/css" href="/PID_Assignment/views/css/screen.css" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/PID_Assignment/views/css/list.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<script>
	//防止重新導入這，倒入這就直接回首頁
	$.ajax({
		type: "GET",
		url: "/PID_Assignment/member/getSessionUserName"
	}).then(function (e) {
		if (e) {
			window.location.href = "/PID_Assignment/views/pageFront/index_.html";
		}
	});
</script>
<script type="module">
	import { Member } from "../js/models/member.js";

	$(window).ready(() => {

		$("#userPassword_").change(function (e) {
			if ($("#userPassword").val() != $("#userPassword_").val()) {
				$("#passwordCheckMessage").text("密碼不一致！");
			} else {
				$("#passwordCheckMessage").empty();
			}
		});

		$("#userID").change(function (e) {
			$.ajax({
				type: "GET",
				url: `/PID_Assignment/member/checkMemberExist?id=${$("#userID").val()}`
			}).then(function (e) {
				if (e) {
					$("#idCheckMessage").text("此帳號有人使用");
				} else {
					$("#idCheckMessage").text("");
				}
			});
		});

		$("#btnSub").click(() => {
			let member = new Member($("#userID").val(),
				$("#userName").val(),
				$("#userEmail").val(),
				$("#userPhone").val(),
				true,
				$("#userPassword").val());
			if ((member.userPassword != $("#userPassword_").val()) || !member.userPassword.match(/\w{6,30}/)) {
				alert("密碼格式錯誤！");
				return;
			}
			if (member.userName.length <= 0) {
				alert("名字空白！");
				return;
			}
			let emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
			if (!member.userEmail.match(emailRule)) {
				alert("Email格式錯誤");
				return;
			}
			if (!member.userPhone.match(/\d{10}/)) {
				alert("電話格式錯誤");
				return;
			}
			if (!member.userID.match(/\w{6,30}/)) {
				alert("帳號格式錯誤");
				return;
			}
			let subData = {
				member: JSON.stringify(member)
			}
			$.ajax({
				type: "POST",
				url: "/PID_Assignment/member/insertByObj",
				data: subData
			}).then(function (e) {
				if (e) {
					alert("註冊成功，請登入");
					window.location.href = "/PID_Assignment/views/pageFront/login.html";
				} else {
					alert("註冊失敗");
				}
			});

		});
	});
</script>

<body class="author-template">
	<div class="site-wrapper">
		<div class="container">

			<div class="card bg-light">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center">註冊</h4>

					<form>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input id="userName" class="form-control" placeholder="請輸入姓名" type="text">
						</div> <!-- form-group// -->

						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
							</div>
							<input id="userEmail" class="form-control" placeholder="請輸入Email" type="email">
						</div> <!-- form-group// -->

						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
							</div>
							<input id="userPhone" class="form-control" placeholder="請輸入手機號碼" type="text">
						</div> <!-- form-group// -->

						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input id="userID" class="form-control" placeholder="請輸入帳號" type="text">
						</div> <!-- form-group// -->
						<p class="form-group" id="idCheckMessage"></p>

						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							</div>
							<input id="userPassword" class="form-control" placeholder="請輸入密碼" type="password">
						</div> <!-- form-group// -->

						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							</div>
							<input id="userPassword_" class="form-control" placeholder="請在輸入一次密碼" type="password">
						</div> <!-- form-group// -->
						<p class="form-group" id="passwordCheckMessage"></p>

						<div class="form-group">
							<button type="button" id="btnSub" class="btn btn-primary btn-block"> Create Account
							</button>
						</div> <!-- form-group// -->

						<p class="text-center">Have an account? <a href="/PID_Assignment/views/pageFront/login.html">Log
								In</a> </p>
					</form>
				</article>
			</div> <!-- card.// -->

		</div>
		<!--container end.//-->

		<br><br>

		<footer class="site-footer clearfix">
			<a href="#top" id="back-to-top" class="back-top"></a>
			<div class="text-center">
				<a href="index.html">Nectaria Template</a> &copy; 2016<br />
				Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
			</div>
		</footer>
	</div>

</body>

</html>