<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/PID_Assignment/views/img/logo.png">
	<link rel="stylesheet" type="text/css" href="/PID_Assignment/views/css/screen.css" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/PID_Assignment/views/css/list.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script type="module" src="/PID_Assignment/views/js/title.js"></script>
<script type="module">
	import { Commodity } from "../js/models/commodity.js";
	import { ShoppingCart } from "../js/models/shoppingCart.js";

	import { CommodityViewModel } from "../js/viewModels/commodityViewModel.js";

	//更新畫面
	function updateMenu() {
		let total = 0;
		$("#shoppingCartList").html("");

		//更新所有商品列表
		let commoditys = new Array();
		$.ajax({
			type: "GET",
			url: "/PID_Assignment/commodity/getAll",
			async: false
		}).then(function (e) {
			let objs = JSON.parse(e);
			for (let item of objs) {
				let commodity = new Commodity(
					item['_commodityID'],
					item['_commodityName'],
					item['_commodityPrice'],
					item['_commodityQuantity'],
					item['_commodityStatus'],
					item['_commodityText']
				);

				commoditys.push(commodity);
			}

		});

		//更新所有購物車
		$.ajax({
			type: "GET",
			url: `/PID_Assignment/shoppingCart/getAll`
		}).then(function (e) {
			let objs = JSON.parse(e);
			let shoppingCarts = new Array();
			for (let item of objs['shoppingCart']) {
				let shoppingCart = new ShoppingCart(item['_commodityID'], item['_buyQuantity']);
				shoppingCarts.push(shoppingCart);
				let commodity = commoditys.find(obj => obj.commodityID == shoppingCart.commodityID);
				$("#shoppingCartList")
					.append(CommodityViewModel.getShoppingCartView(commodity.commodityName,
						commodity.commodityPrice, commodity.commodityQuantity, shoppingCart.buyQuantity, shoppingCart.commodityID));

				$(`#commodityDelete${shoppingCart.commodityID}`).click(function () {
					shoppingCartDelete(shoppingCart.commodityID);

				});
				$(`#commodityQuantity${shoppingCart.commodityID}`).change(function () {
					shoppingCartUpdate(shoppingCart)
				});
			}

			$("#total").text(`總價格:${objs['total']}`);

		});

		//刪除
		function shoppingCartDelete(id) {
			let deleteDate = {
				id: id
			}
			$.ajax({
				type: "DELETE",
				url: "/PID_Assignment/shoppingCart/delete",
				data: deleteDate
			}).then(function (e) {
				if (e) {
					updateMenu();
				}
			});
		}

		//更新購物車
		function shoppingCartUpdate(shoppingCart) {
			shoppingCart.buyQuantity = $(`#commodityQuantity${shoppingCart.commodityID}`).val();
			let putDate = {
				shoppingCart: JSON.stringify(shoppingCart)
			}
			$.ajax({
				type: "DELETE",
				url: "/PID_Assignment/shoppingCart/updateByObj",
				data: putDate
			}).then(function (e) {
				if (e) {
					updateMenu();
				}
			});
		}
	}



	$(window).ready(() => {
		//結帳事件
		$("#checkout").click(() => {
			if (($("#userName").text()).length <= 0) {
				alert("請先登入");
				window.location.href = "/PID_Assignment/views/pageFront/login.html";
				return;
			}
			let date = new Date();
			let now = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
			let postData = {
				date: now
			};
			$.ajax({
				type: "POST",
				url: "/PID_Assignment/order/checkout",
				data: postData
			}).then(function (e) {
				if (e) {
					alert("成功");
					window.location.href = "/PID_Assignment/views/pageFront/order.html";
				} else {
					alert("失敗");
				}
			});
		});

		updateMenu();
	});
</script>

<body class="author-template">
	<div class="site-wrapper">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/PID_Assignment/views/pageFront/index_.html">
				<img src="/PID_Assignment/views/img/logo.png" alt="Fashion Critiques" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">首頁<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">商品列表</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/order.html">訂單</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/shoppingCart.html">購物車</a>
					</li>

				</ul>
				<span class="socialheader row">
					<div class="col" id="userName">userName</div>
					<div class="col">
						<a id="textLogin" href="/PID_Assignment/views/pageFront/login.html">登入</a>
					</div>
					<div class="col" id="textregistered">
						<a href="/PID_Assignment/views/pageFront/registered.html">註冊</a>
					</div>

				</span>
			</div>
		</nav>
		<br><br><br><br><br><br>
		<div class="list">
			<ul>
				<li class="row">
					<div class="col-3">商品圖片</div>
					<div class="col-3">名稱</div>
					<div class="col-3">單價</div>
					<div class="col-2">數量</div>
					<div class="col-1"></div>
				</li>
			</ul>


			<ul id="shoppingCartList">

			</ul>

			<div class="row">
				<div class="col-6"></div>
				<div class="col-5 total" id="total">總價格:</div>
				<div class="col-1"><button id="checkout" name="checkout" type="button"
						class="btn btn-primary">結帳</button></div>
			</div>
		</div>
		<br><br>
		<footer class="site-footer clearfix">
			<a href="#top" id="back-to-top" class="back-top"></a>
			<div class="text-center">
				<a href="index.html">Nectaria Template</a> &copy; 2016<br />
				Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
			</div>
		</footer>
	</div>
</body>

</html>